[submodule "Elm/vendor/spdlog"]
	path = Elm/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Elm/vendor/glfw"]
	path = Elm/vendor/glfw
	url = https://github.com/JonasAlmaas/glfw.git
[submodule "Elm/vendor/imgui"]
	path = Elm/vendor/imgui
	url = https://github.com/JonasAlmaas/imgui.git
[submodule "elm/vendor/glm"]
	path = elm/vendor/glm
	url = https://github.com/g-truc/glm
